:root {
    --cell-color: #eeeed2;
    --cell-color-secondary: #967756;
    --cell-color-highlight-primary: #caa644;
    --cell-color-highlight-secondary: #baca44;
    --legal-move-colour: rgba(0, 0, 0, 0.329);
    --legal-move-hit-colour: rgba(255, 0, 0, 0.604);
}

#board-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#col-labels {
    position: absolute;
    top: calc(50% - 320px);
    left: 50%;
    transform: translateX(-50%)
        translateY(-50%);
    width: calc(60px * 16);

    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

#col-labels.dim .label:not(.active), #row-labels.dim .label:not(.active) {
    opacity: 0.15;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: var(--cell-color);
    text-align: center;
    opacity: 0.5;
    transition: 0.2s cubic-bezier(0,.96,.39,.79);
}

.label.active {
    opacity: 1;
    text-shadow: 0 0 3px white;
}

#row-labels {
    position: absolute;
    top: 50%;
    left: calc(50% - 500px);
    transform: translateX(-50%)
        translateY(-50%);
    height: calc(60px * 10);

    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

#board {
    position: relative;
    background-color: #000;
    overflow: hidden;

    /* 16x16 grid */
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0;
}

#board .row {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;
}

#board .row .cell {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--cell-color);
    overflow: hidden;
    transition: 0.2s ease;
}

#board .row .cell.legal-move {
    cursor: pointer;
}

#board .row .cell.legal-move:after {
    background-image: radial-gradient(circle, var(--legal-move-colour) 0%, var(--legal-move-colour) 20%, transparent 20%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Set the z-index to be higher than the children */
    z-index: 1;
}

#board .row .cell.legal-move:has(.piece):after {
    background-image: radial-gradient(circle, var(--legal-move-hit-colour) 0%, var(--legal-move-hit-colour) 20%, transparent 50%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Set the z-index to be higher than the children */
    z-index: 1;
}

#board .row:nth-child(2n) .cell:nth-child(2n) {
    background-color: var(--cell-color-secondary);
}

#board .row:nth-child(2n+1) .cell:nth-child(2n+1) {
    background-color: var(--cell-color-secondary);
}

#board .row .cell.last-moved-primary {
    background-color: var(--cell-color-highlight-primary) !important;
}

#board .row .cell.last-moved-secondary {
    background-color: var(--cell-color-highlight-secondary) !important;
}

/* Pieces */
#board .row .cell .piece {
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
}

#board .row .cell .piece.R.black {background-image: url("/static/imgs/rb.svg");}
#board .row .cell .piece.N.black {background-image: url("/static/imgs/nb.svg");}
#board .row .cell .piece.B.black {background-image: url("/static/imgs/bb.svg");}
#board .row .cell .piece.Q.black {background-image: url("/static/imgs/qb.svg");}
#board .row .cell .piece.K.black {background-image: url("/static/imgs/kb.svg");}
#board .row .cell .piece.P.black {background-image: url("/static/imgs/pb.svg");}
#board .row .cell .piece.W.black {background-image: url("/static/imgs/wb.svg");}

#board .row .cell .piece.R.white {background-image: url("/static/imgs/rw.svg");}
#board .row .cell .piece.N.white {background-image: url("/static/imgs/nw.svg");}
#board .row .cell .piece.B.white {background-image: url("/static/imgs/bw.svg");}
#board .row .cell .piece.Q.white {background-image: url("/static/imgs/qw.svg");}
#board .row .cell .piece.K.white {background-image: url("/static/imgs/kw.svg");}
#board .row .cell .piece.P.white {background-image: url("/static/imgs/pw.svg");}
#board .row .cell .piece.W.white {background-image: url("/static/imgs/ww.svg");}

#outcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)
        translateY(-50%);
    
    width: 500px;
    background-color: #581d11;
    border-radius: 10px;
    box-shadow: 10px 10px 3px 5px rgba(0, 0, 0, 0.489);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 2em;
    text-align: center;
    z-index: 100;

    padding: 20px;
    box-sizing: border-box;
}

#outcome.fadeout {
    /* keyframe fadeout animation */
    animation: fadeout 0.5s ease forwards;
}

#outcome.fadein {
    /* keyframe fadein animation */
    animation: fadein 0.5s ease forwards;
}

#outcome.hidden {
    display: none;
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadein {
    from { 
        display: block;
        opacity: 0;
    }
    to { opacity: 1; }
}

#outcome .outcome-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

#outcome-name {
    font-size: 1.5em;
    font-weight: bold;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.513));
}

.outcome-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    opacity: 0.75;
    filter: brightness(0.75);
}

.outcome-icon.active {
    opacity: 1;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.703))
        brightness(1);
    
    width: 75px;
    height: 75px;
}

#outcome-desc {
    margin-top: 0;
    margin-bottom: 30px;
    opacity: 0.6;
    font-size: 0.7em;
}

.play-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.play-button {
    width: 200  px;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(36, 130, 36);
}

.play-button img {
    width: 30px;
    height: 30px;
    filter: invert();
}

.play-button.transparent {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.play-button.transparent:hover {
    border: 2px solid rgb(36, 130, 36);
    color: rgb(36, 130, 36);
}